@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  /* COLOR */
  --bg-color: #010100;
  --main-color: #0cc697;
  --header-color: #0d0d0f;
  --white-color: #ffffff;
  --black-color: #000000;
  --bg-button-color-1: #1a1e21;
  --text-color-1: #999999;
  --primary-color: #005741;

  /* FONT */
  --mono: "JetBrains Mono", monospace;
  --inter: "Inter", sans-serif;
  --font-400: 400;
  --font-500: 500;
  --font-700: 700;
  --font-800: 800;

  /* OTHER */
  --content-width: 1295px;
  --content-value: 1295;
  --sidebar-width: 240px;
  --footer-h: 141px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background: var(--black-color);
  font-family: var(--mono);
  scroll-behavior: smooth;

  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}

/* VARIABLES */

/* GLOBAL CSS */
button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--black-color);
}

li {
  list-style: none;
}

/* GLOBAL CLASS */
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.text-color--white {
  color: var(--white-color);
}

.text-color--black {
  color: var(--black-color);
}

.text-color--main {
  color: var(--main-color);
}

.bg-color--main {
  background-color: var(--main-color);
}

.bg-button--dropdown {
  background-color: var(--bg-button-color-1);
}

.px-48 {
  padding: 0 48px;
}

.py-48 {
  padding: 48px 0;
}

.p-48 {
  padding: 48px;
}

.section-mb {
  margin-bottom: 1em;
}

@media screen and (min-width: 960px) {
  .section-mb {
    margin-bottom: 10em;
  }
}

.section-title,
.section-title-no-mb {
  font-size: clamp(24px, 5vw, 48px);
  font-weight: 400;
}

.section-title {
  margin-bottom: 36px;
}

.section-title-no-mb {
  margin-bottom: 0;
}

.content-container {
  width: 100%;
  max-width: var(--content-width);
  margin: auto;
  padding: 0 10px;
}

@media screen and (min-width: 1280px) {
  .content-container {
    padding: 0;
  }
}

.childer-wider-than-parent {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.venuswap__button {
  height: 35px;
  border: none;
  border-radius: 25px;
  padding: 8px 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 8px;

  font-weight: 700;

  background: #1a1e21;
  color: var(--white-color);
  font-family: var(--mono);
  white-space: nowrap;
  font-size: clamp(10px, 2vw, 16px);
}

@media screen and (min-width: 768px) {
  .venuswap__button {
    background: var(--white-color);
    color: var(--black-color);
    height: 44px;
  }

  .venuswap__button.launch-app {
    background: #005741;
    color: var(--white-color);
    width: 169px;
  }

  #buy-ven {
    width: 155px;
  }
}

.venuswap__button > img {
  width: 24px;
  height: 24px;
}

.venuswap__button .dropdown-icon {
  width: 16px;
  height: 16px;
}

/* PRELOADING */

.pre-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

  opacity: 1;
  transition: all 1s linear;

  background: rgba(0, 0, 0, 1);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99;
  opacity: 1;
}

.pre-loading.is-loaded {
  z-index: -99;
  opacity: 0;
}

/* .is-disable-scroll {
  overflow: hidden;
  width: 100vw;
  height: 100vh !important;
} */

.pre-loading-text {
  color: var(--white-color);
  font-size: clamp(16px, 4vw, 26px);
  font-weight: 500;
}

/* SIDEBAR */
.sidebar {
  display: flex;
  flex-direction: column;

  position: fixed;

  max-width: var(--sidebar-width);
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
}

.navbar {
  display: flex;
  align-items: center;
}

.sidebar__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  padding: 24px 12px;

  font-weight: 800;
  font-size: clamp(10px, 2vw, 18px);
  color: var(--white-color);
}

@media screen and (min-width: 960px) {
  .sidebar__header {
    flex-direction: row;
    gap: 8px;
    color: var(--white-color);
  }
}

.desktop-logo {
  display: none !important;
}

.mobile-logo {
  max-width: 22px;
  display: block !important;
}

@media screen and (min-width: 960px) {
  .mobile-logo {
    display: none !important;
  }

  .desktop-logo {
    display: block !important;
  }
}

.sidebar__nav-list {
  display: flex;
  position: relative;
  transition: all 0.75s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@media screen and (max-width: 959px) {
  .sidebar__nav-list.open {
    opacity: 1;
    z-index: 9;
    pointer-events: auto;
  }

  .sidebar__nav-list {
    flex-direction: column;
    opacity: 0;

    position: fixed;
    z-index: -99;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(13, 13, 15, 0.8);
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
}

@media screen and (min-width: 1640px) {
  .sidebar__nav-list {
    gap: 12px;
    flex-direction: row;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.sidebar__nav-item {
  padding: 12px;
}

.sidebar__nav-item.active > .sidebar__nav-link {
  color: var(--main-color);
}

.sidebar__nav-link {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  grid-gap: 0.8em;

  font-weight: 400;
  text-transform: capitalize;
  color: var(--white-color);
}

.nav-link__logo {
  width: 32px;
  height: 32px;
}

.sidebar__footer {
  position: relative;
  height: var(--footer-h);
  background-color: rgba(13, 13, 15, 0.8);
  margin-top: auto;
  padding: 12px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar__footer:after {
  content: "";
  position: absolute;

  background-image: url("/assets/images/svgs/why-choose-ellipse.svg");
  background-size: contain;
  width: 141.41px;
  height: 141.41px;

  bottom: 0;
  right: 0;
  transform: translate(25px, 50%);
}

.sidebar__footer-top {
  display: flex;
  align-items: center;
  grid-gap: 8px;
}

.sidebar__footer-button {
  position: relative;
  z-index: 1;

  color: var(--black-color);
  background-color: var(--main-color);
  font-size: 16px;
  font-weight: var(--font-800);

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 44px;
  width: 100%;
  border-radius: 8px;
}

/* MAIN SECTION */
/* .main-section {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
} */

.mobile-menu-button {
  filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(90deg)
    brightness(100%) contrast(100%);
}

.mobile-menu-button,
.close-menu-button {
  display: block;
  background: none;
  border: none;
  border-radius: 5px;

  display: flex;
  align-items: center;
  font-weight: 700;
}

.close-menu-button {
  position: fixed;
  top: 10px;
  right: 10px;
  color: var(--white-color);
  font-size: 16px;
}

@media screen and (min-width: 960px) {
  .mobile-menu-button,
  .close-menu-button {
    display: none;
  }
}

.main-section__header {
  position: fixed;
  z-index: 9;

  display: flex;
  align-items: center;
  background-color: var(--primary-color);

  width: 100%;
  height: 70px;
  padding: 10px;
}

@media screen and (min-width: 960px) {
  .main-section__header {
    background-color: var(--header-color);
    min-height: 80px;
  }
}

.button__wrapper {
  display: flex;
  margin-left: auto;
  grid-gap: 12px;
  width: fit-content;
  padding: 0 20px;
}

/* MAIN CONTENT */
.main-section__content {
  padding-top: 48px;
}

#home {
  padding-top: 92px;
}

@media screen and (min-width: 960px) {
  #home {
    padding-top: 180px;
  }
}

/* HERO BANNER */
.main-section__content__hero {
  color: var(--white-color);
  width: 100%;
  position: relative;
  padding: 10px;
}

.main-section__content__hero::before {
  content: "";
  display: block;
  background-image: url("./assets/images/hero-bg.png");
  background-size: contain;

  max-width: 644px;
  height: 100%;
  aspect-ratio: 1/1;

  position: relative;
  margin: auto;
  transform: translate(0, 0);
}

.main-section__content__hero--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
}

@media screen and (min-width: 960px) {
  .main-section__content__hero--container {
    height: 571px;
  }

  .main-section__content__hero::before {
    position: absolute;
    top: -48px;
    right: 0;
    transform: translate(25%, -24px);
  }
}

.main-section__content__hero-main-text {
  font-size: clamp(18px, 5vw, 46px);
  font-weight: 400;
  max-width: 893px;
  margin-bottom: 32px;
  z-index: 1;
}

.main-section__content__hero-view-docs {
  display: none;
}

@media screen and (max-width) {
  .main-section__content__hero-view-docs {
    display: flex;
    align-items: center;
    grid-gap: 8px;
    font-size: clamp(14px, 4vw, 20px);
    margin-bottom: 12px;
  }
}

.main-section__content__hero-view-docs img {
  width: 24px;
}

.hero-button__wrapper {
  display: flex;
  gap: 8px;
}

@media screen and (min-width: 960px) {
  .hero-button__wrapper {
    display: none;
  }
}

/* ABOUT BANNER */
.about-zetachain--bg {
  background-image: url("./assets/images/svgs/about-border-bg-mb.svg");
  background-repeat: no-repeat;
  background-size: contain;

  width: 100%;
  max-width: 165px;
  aspect-ratio: 5/3;
}

@media screen and (min-width: 575px) {
  .about-zetachain--bg {
    background-image: url("./assets/images/svgs/about-border-bg.svg");
    max-width: 304px;
    max-height: 100px;
    aspect-ratio: 5/3;
  }
}

.main-section__content__about {
  display: flex;
  flex-direction: column;
  grid-gap: 12px;
  padding: 10px;
}

@media screen and (min-width: 575px) {
  .main-section__content__about {
    flex-direction: row;
    grid-gap: 24px;
  }
}

.main-section__content__about-left {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  grid-gap: 8px;
  justify-content: space-between;
}

@media screen and (min-width: 575px) {
  .main-section__content__about-left {
    grid-gap: 24px;
  }
}

.about-zetachain-item {
  color: var(--main-color);
  font-family: var(--mono);
  width: 100%;
  height: 100%;
  padding: 12px;
}

@media screen and (min-width: 575px) {
  .about-zetachain-item {
    padding: 0px 24px;
  }
}

.about-zetachain-item-title {
  font-weight: 700;
  font-size: clamp(46px, 4vw, 60px);
}

.about-zetachain-item-desc {
  font-weight: 400;
  font-size: clamp(10px, 2vw, 16px);
  margin-left: auto;
  display: flex;
  width: fit-content;
  white-space: nowrap;
}

.main-section__content__about-right {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-section__content__about-right-title {
  font-size: clamp(24px, 5vw, 48px);
  font-weight: 400;
  max-width: 725px;
  margin-bottom: 12px;
}

.main-section__content__about-right-desc {
  color: var(--text-color-1);
  font-size: clamp(14px, 2vw, 16px);
  font-weight: 400;
  margin-top: auto;
}

/* WHY CHOOSE */
.main-section__why-choose {
  position: relative;
}

.main-section__why-choose-title {
  width: 100%;
  max-width: 50%;
  position: absolute;
  top: -65px;
  right: 0;
}

@media screen and (min-width: 960px) {
  .main-section__why-choose-title {
    top: -20px;
    left: -85px;
    max-width: 100%;
  }
}

.main-section__why-choose__circle {
  position: absolute;
  top: -150px;
  right: 22px;

  width: 100%;
  max-width: 116.77px;
  aspect-ratio: 1/1;
}

.circle-box {
  width: 100%;
  height: 100%;
}

.circle-box:before,
.circle-box:after {
  content: "";
  position: absolute;
  z-index: 9;
}

.circle-box:before {
  background: url("./assets/images/svgs/why-choose-ellipse.svg") no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.circle-box:after {
  background: url("./assets/images/svgs/why-choose-ellipse-mini.svg") no-repeat;
  background-size: contain;
  width: 41.8px;
  height: 41.8px;

  bottom: 55px;
  right: 40px;
  opacity: 0;
}

.main-section__why-choose-bg {
  width: 100%;
  max-width: 196px;
  height: 100%;
  aspect-ratio: 1/1;
  background: url("./assets/images/why-choose-bg-png.png") no-repeat;
  background-size: contain;
}

.main-section__why-choose-bg::before,
.main-section__why-choose-bg::after {
  content: "";
  position: absolute;
}

.main-section__why-choose-bg::before {
  background: url("./assets/images/svgs/why-choose-star.svg") no-repeat 100%;
  width: 91.69px;
  height: 94.74px;
  bottom: 0;
  right: 0;
  transform: translate(-10px, -80px);
}

.main-section__why-choose-bg::after {
  background: url("./assets/images/svgs/why-choose-star-blur.svg") no-repeat;
  background-size: cover;
  width: 68.72px;
  height: 69.56px;
  top: 0;
  left: 50%;
  transform: translate(calc(-50% - 100px), 65px);
  opacity: 0;
}

@media screen and (min-width: 960px) {
  .main-section__why-choose__circle {
    top: -40px;
    right: 55px;
    transform: translate(-50%, -50%);
    max-width: 216.46px;
  }

  .main-section__why-choose-bg {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 658px;
  }

  .main-section__why-choose-bg::after {
    opacity: 1;
  }

  .circle-box:after {
    opacity: 1;
  }
}

.main-section__why-choose--container {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  position: relative;
}

@media screen and (min-width: 960px) {
  .main-section__why-choose--container {
    max-width: 50%;
  }
}

.main-section__why-choose-items {
  --choose-item-text-color: #8f8ba3;
  --choose-item-title-font-size: clamp(14px, 4vw, 24px);
  --choose-item-desc-font-size: clamp(8.5px, 2vw, 12px);
  --choose-item-space: 24px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 8px;
  padding: 10px;
  margin-top: 46px;
}

@media screen and (min-width: 768px) {
  .main-section__why-choose-items {
    --choose-item-space: 48px;
    grid-gap: 24px;
  }
}

.main-section__why-choose-item--bg {
  background-image: url("./assets/images/svgs/why-choose-radient-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;

  aspect-ratio: 1/1;
  height: auto;

  width: 100%;
  max-width: 149.45px;
}

@media screen and (min-width: 768px) {
  .main-section__why-choose-item--bg {
    max-width: 245.29px;
  }
}

.main-section__why-choose-item--bg:nth-child(1) {
  background-image: url("./assets/images/svgs/why-choose-bg.svg");
  transform: translateY(calc(var(--choose-item-space) / 2));
}

.main-section__why-choose-item--bg:nth-child(4) {
  background-image: url("./assets/images/svgs/why-choose-bg.svg");
}

.main-section__why-choose-item--bg:nth-child(2) {
  transform: translateY(
    calc(var(--choose-item-space) + calc(var(--choose-item-space) / 2))
  );
}

.main-section__why-choose-item--bg:nth-child(3) {
  transform: translateX(var(--choose-item-space));
}

.main-section__why-choose-item--bg:nth-child(4) {
  transform: translate(var(--choose-item-space), var(--choose-item-space));
}

.main-section__why-choose-item {
  width: 100%;
  height: 100%;
  padding: 4px 4px 4px 16px;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .main-section__why-choose-item {
    padding: 24px 12px 24px 24px;
  }
}

.main-section__why-choose-item--bg:nth-child(2)
  .main-section__why-choose-item-icon,
.main-section__why-choose-item--bg:nth-child(3)
  .main-section__why-choose-item-icon {
  background: rgba(156, 157, 160, 0.45);
}

.main-section__why-choose-item-icon {
  width: 24px;
  height: auto;
  aspect-ratio: 1/1;
  margin-bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;

  background: #1e1e1e;
  border-radius: 50%;
}

.main-section__why-choose-item-icon img {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .main-section__why-choose-item-icon {
    width: 42.88px;
    margin-bottom: 5px;
  }
}

.main-section__why-choose-item-title {
  font-size: var(--choose-item-title-font-size);
  padding: 0 0 5px 0;
}

@media screen and (min-width: 768px) {
  .main-section__why-choose-item-title {
    padding: 5px 0;
  }
}

.main-section__why-choose-item-desc {
  font-size: var(--choose-item-desc-font-size);
  color: var(--choose-item-text-color);
}

/* TIER LAUNCHPAD */
.main-section__tier-section {
  --items-count: 6;
}

.main-section__tier-section-items--bg {
  background-image: url("./assets/images/svgs/tier-large-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  min-height: 100px;
  height: calc(100vw * 314 / var(--content-value));
  max-height: 314px;
  max-width: var(--content-width);
}

.main-section__tier-section-items {
  width: 100%;
  height: 100%;
  padding: 24px;

  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.main-section__tier-section-items tr th {
  text-align: left;
}

.main-section__tier-section-item__tier-name {
  font-weight: 700;
}

.main-section__tier-section-item__tier-name td:nth-child(2) {
  color: #aff3d7;
}

.main-section__tier-section-item__tier-name td:nth-child(3) {
  color: #9af5cf;
}

.main-section__tier-section-item__tier-name td:nth-child(4) {
  color: #70f1bb;
}

.main-section__tier-section-item__tier-name td:nth-child(5) {
  color: #31ee9e;
}

.main-section__tier-section-item__tier-name td:nth-child(6) {
  color: #15c37a;
}

/* FUNDRAISING */
.main-section__fundraising-section__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.main-section__fundraising-section__status-wrapper {
  display: flex;
  grid-gap: 24px;
  justify-content: right;
  width: 100%;
}

.main-section__fundraising-section__status--bg {
  background-image: url("./assets/images/svgs/fundraising-status-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  min-height: auto;
  height: calc(100vw * 57 / 205);
  max-height: 57px;
  max-width: 205px;
}

.main-section__fundraising-section__status {
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: var(--font-800);

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-section__fundraising-section-items {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  grid-gap: 12px;
}

.main-section__fundraising-section-item--bg {
  position: relative;
  background-image: url("./assets/images/svgs/fundraising-item-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  min-height: auto;
  height: calc(100vw * 355 / 308);
  max-height: 355px;
  max-width: 308px;
}

.main-section__fundraising-section-item--bg::after {
  content: "";
  background: url("./assets/images/svgs/fundraising-item-blob.svg") no-repeat;
  background-size: cover;
  border-radius: 10px;

  position: absolute;
  z-index: -9;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.main-section__fundraising-section-item {
  width: 100%;
  height: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
}

.main-section__fundraising-section-item__avatar-group--bg {
  position: relative;
  background-image: url("./assets/images/svgs/");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  min-height: auto;
  height: calc(100vw * 125 / 285);
  max-height: 125px;
  max-width: 285px;
}

.main-section__fundraising-section-item__avatar-group {
  background: url("./assets/images/fundraising-avatar-gr.png") no-repeat 100%
    center;
  background-size: cover;
  position: relative;
  height: 100%;
}

.main-section__fundraising-section-item__avatar {
  height: 56px;

  position: absolute;
  bottom: 0;
  left: 12px;
  transform: translateY(calc(50% + 12px));
}

.main-section__fundraising-section-item__avatar img {
  width: 56px;
  aspect-ratio: 1/1;
}

.main-section__fundraising-section-item__group-name {
  position: absolute;
  left: calc(56px + 8px);
  bottom: 5px;
}

.main-section__fundraising-section-item__info {
  display: flex;
  flex-direction: column;
  grid-gap: 8px;
  padding: 0 12px;
  margin-top: 56px;
}

.main-section__fundraising-section-item__info-item {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  font-weight: var(--font-500);
}

.main-section__fundraising-section-item__total-raise--bg {
  position: relative;
  background-image: url("./assets/images/svgs/fundraising-total-raise-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  min-height: auto;
  height: calc(100vw * 39 / 285);
  max-height: 39px;
  max-width: 285px;

  display: flex;
  margin-top: auto;
}

.main-section__fundraising-section-item__total-raise {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 12px;
}

/* PARTNERS */
.main-section__partners-section {
  position: relative;
}

.main-section__partners-section:before {
  content: "";
  background: url("./assets/images/svgs/partners-star-icon.svg") no-repeat 100%;
  background-size: contain;
  width: 60px;
  height: 60px;

  position: absolute;
  top: 12px;
  right: 80px;
}

@media screen and (min-width: 768px) {
  .main-section__partners-section:before {
    width: 80.08px;
    height: 80.22px;
    background-size: cover;
  }
}

.main-section__partners-section-items {
  --amount: 2;

  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  grid-gap: 5px;
  row-gap: 18px;
}

@media screen and (max-width: 768px) {
  .main-section__partners-section-items > img {
    width: calc((100% / var(--amount)) - 10px);
    height: 52px;
    object-fit: cover;
    border-radius: 16px;
  }
}

/* .main-section__partners-section-item {
  --linear-1: rgba(0, 0, 0, 0.2);
  --linear-2: rgba(0, 255, 148, 0.3);
  --linear-3: rgba(217, 217, 217, 0);
  --linear-4: rgba(30, 114, 94, 0);
  --linear-5: rgba(36, 121, 101, 1);
  --linear-6: rgba(30, 114, 94, 0);

  background-image: linear-gradient(to left, var(--linear-1), transparent),
    linear-gradient(180deg, var(--linear-2), var(--linear-3));

  border-radius: 16px;
  border: 0.2px solid var(--linear-5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;

  width: 100%;
  min-width: 178px;
  max-width: calc(50% - 10px);
  height: 52px;
} */

/* .main-section__partners-section-item img {
  height: 27px;
  width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .main-section__partners-section-item {
    width: fit-content;
    height: 84px;
    border-radius: 25px;
  }

  .main-section__partners-section-item img {
    height: 35px;
  }
} */

/* TEAM */
.main-section__team-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

@media screen and (min-width: 960px) {
  .main-section__team-section {
    flex-direction: row;
    column-gap: clamp(36px, 10vw, 14.5em);
  }
}

.main-section__team-section-left {
  display: flex;
  flex-direction: column;
  grid-gap: 24px;

  width: 100%;
  max-width: 493px;
  margin-bottom: 36px;
}

.main-section__partners-section-desc {
  color: var(--text-color-1);
  font-size: clamp(14px, 2vw, 16px);
}

.main-section__partners-section-contact--bg {
  position: relative;
  background-image: url("./assets/images/svgs/contact-us-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;

  width: 100%;
  height: auto;
  max-width: 139px;
  aspect-ratio: 4/1;
}

.main-section__partners-section-contact {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  padding: 12px;

  font-size: clamp(14px, 4vw, 24px);
  font-weight: var(--font-400);
  white-space: nowrap;
  cursor: pointer;
}

.main-section__partners-section-contact img {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-section__partners-section-contact img {
    display: block;
  }

  .main-section__partners-section-contact--bg {
    max-width: 238.26px;
    height: 67.63px;
  }

  .main-section__partners-section-contact {
    justify-content: center;
  }
}

.main-section__team-section-right {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 100%;
  max-width: 958px;
  margin-bottom: 36px;
}

.main-section__team-section-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-gap: 8px;
}

.main-section__team-section-right__top,
.main-section__team-section-right__bottom {
  display: flex;
  column-gap: 24px;
}

.main-section__team-section-right__top {
  justify-content: left;
  margin-bottom: 26px;
}

.main-section__team-section-right__bottom {
  justify-content: right;
}

.main-section__team-section-item__name {
  font-size: clamp(10px, 2vw, 14px);
  font-weight: var(--font-400);
  white-space: nowrap;
}

.main-section__team-section-item__avatar {
  width: 88.38px;
  height: 97.74px;
  margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
  .main-section__team-section-item__avatar {
    width: 138.43px;
    height: 153.09px;
    margin-bottom: 5px;
  }
}

.main-section__team-section-item__avatar img {
  width: 100%;
}

.main-section__team-section-item__position {
  font-size: clamp(14px, 3vw, 20px);
  font-weight: var(--font-700);
}

/* FOOTER */
.main-section__footer {
  display: flex;
  background-color: var(--header-color);
  min-height: var(--footer-h);
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 24px;
  padding: 24px 12px;
}

@media screen and (min-width: 960px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.main-section__footer-left {
  display: flex;
  column-gap: 56px;
}

.main-section__footer-left__powered {
  display: flex;
  align-items: center;
  grid-gap: 8px;
}

.main-section__footer-left__powered img {
  width: 53px;
  height: 53px;
}

.powerd-info-top {
  font-size: 28px;
  font-weight: var(--font-800);
}

.powerd-info-bottom {
  font-size: 14px;
  font-weight: var(--font-700);
  color: #7f7f7f;
}

.main-section__footer-left__socials {
  display: flex;
  align-items: center;
  grid-gap: 24px;
}

.main-section__footer-left__socials img {
  width: 46px;
  height: 46px;
}

.main-section__footer-right__list {
  display: flex;
  align-items: center;
  grid-gap: 24px;
  justify-content: center;
}
